* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, sans-serif;
  background: #fafafa;
  color: #222;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
